* {	margin:0;padding:0;}
body{
	font-size:12px;
	color:#123456; /* 678832 */
	background: #FFFFFE;
}
a {
    text-decoration:none;
}
.clear {clear:both;}
/***************************/
.header {
	height:50px;
	padding:10px 0px 0px 50px;
	background:#EEEEEE;
}
.header ul{
	list-style:none;
}
.header ul li {
	float:left; 
	position:relative;
}
.header ul li a, .header ul li a:visited {
	display:block; 
	text-align:center; 
	text-decoration:none; 
	width:104px; 
	height:30px; 
	color:#000; 
	border:1px solid #fff;
	border-width:1px 1px 0 0;
	background:#c9c9a7; 
	line-height:30px; 
	font-size:11px;
}
.header ul li ul {
	display: none;
}
.header ul li:hover a {
	color:#fff; 
	background:#b3ab79;
}
.header ul li:hover ul {
	display:block; 
	position:absolute; 
	top:31px; 
	left:0; 
	width:105px;
}
.header ul li:hover ul li a {
display:block; 
background:#faeec7; 
color:#000;
}
.header ul li:hover ul li a:hover {
background:#dfc184; 
color:#000;
}
/***************************/
div#menu {
    //background-color:#ffff99;
    width:20%;
    float:left;
}

.item {
    padding: 10px 0 8px 10px;
    border-bottom: 1px solid #ececec;
    line-height: 1.62;
}
.item h3, .item span {
    display: inline-block;
}

.item span {
    color: #219a44;
}

.button {
    background-color: #69c;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 16px;
    text-align: center;
    padding: 10px;
    display: block;
}

div#option {background-color:#DE5AB3; width:40%; float:left;}
div#show {background-color:#7EDE5A; width:40%; float:left;}
/***************************/
#footer {
	padding:10px 0px 0px 0px;
	text-align:center;
	height:30px;
	line-height:25px;  
	background:#DDDDDD;
}
/***************************/
